<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mybatis.myMapper"> <!-- name을 아무거나 정해도 상관 없으며 그냥 경로설정 -->
	<select id="selectAll_User" resultType="userdto" parameterType="userdto">		<!-- com.care.mybatis.myMapper.listAll을 통해 경로 설정이 가능 -->
		select * from self_design
	</select>
	<select id="select_User" resultType="userdto"  parameterType="userdto">
		select * from self_design where id=#{id}
	</select>
	<insert id="insert_User" parameterType="userdto">
		insert into self_design values(#{id},#{pw},#{name},#{add},#{phon})
	</insert>
	<delete id="delete_User" parameterType="userdto">
		delete self_design where num=#{num}
	</delete>
	<update id="update_User" parameterType="userdto">
		update self_design set pw=#{pw}, name=#{name}, addr=#{add}, phon=#{phon} where id=#{id}
	</update>
	
	<select id="selectAll_List" resultType="listdto">
		select * from data_list
	</select>
	
	<!-- Q&A 게시물 관련 -->
	
	<select id="selectAll_Commnuity" resultType="comdto">
		select * from board_sys order by bno desc
	</select>
	<select id="view_Commnuity" resultType="comdto">
		select * from board_sys where bno=#{bno}
	</select>
	<update id="count_Commnuity">
		update board_sys set viewcnt = viewcnt + 1 where bno=#{bno}
	</update>
	<update id="update_Commnuity">
		update board_sys set title=#{title}, content=#{content} where bno=#{bno}
	</update>
	<insert id="insert_Commnuity">
		insert into board_sys (bno,title,content,writer) values((select nvl(max(bno)+1,1)from board_sys),#{title},#{content},#{writer} )
	</insert>
	<delete id="delete_Commnuity">
		delete from board_sys where bno=#{bno}
	</delete>
	
	
</mapper>
