<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
		<typeAlias alias="userdto" type="com.project.dto.UserDTO"/>
		<typeAlias alias="dresslistdto" type="com.project.dto.DressListDTO"/>
		<typeAlias alias="baglistdto" type="com.project.dto.BagListDTO"/>
		<typeAlias alias="earringlistdto" type="com.project.dto.EarringListDTO"/>
		<typeAlias alias="comdto" type="com.project.dto.CommnuityDTO"/>
   </typeAliases>
</configuration>
